.blog {
  /* Class applied to "main" for blog.html */
}

.blog__header {
  /* Title and overall info for blog */
}

.blog__thumbnail {
  border: 1px solid black;
  border-radius: var(--rounded);
  box-sizing: border-box;
  display: inline-block;
  height: 300px;
  overflow: hidden;
  margin: 1em 1%;
  padding: 0.5em;
  width: 30%;
}

.blog__thumbnail:hover {
  cursor: pointer;
}

.blog__post {
  /* <article> for active blog post */
}
