.blog {
  /* Class applied to "main" for blog.html */
}

.heading {
  /* Title and overall info for blog */
}

.thumbnail {
  border-radius: var(--rounded);
  box-sizing: border-box;
  display: inline-block;
  height: 5em;
  margin: 0.25em 0;
  padding: 0 1em;
  position: relative;
  text-align: left;
  transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  width: 100%;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 0 1.5em var(--text-color);
  text-align: justify;
}

.thumbnail__title {

}

.thumbnail__date {
  bottom: 0;
  font-size: 0.75em;
  position: absolute;
  right: 1.5em;
}

.thumbnail__snippet {
  font-style: italic;
  margin-top: 0.5em;
}

.post {
  /* <article> for active blog post */
  background: linear-gradient(rgba(20,20,20,0.3), rgba(20,20,20,0.3));
  border-radius: var(--rounded);
  box-sizing: border-box;
  line-height: 1.35em;
  padding: 0.25em 0.5em;
  width: 100%
}

.post p {
  text-align: justify;
  text-indent: 1em;
}

.post p:first-of-type {
  margin-top: 0;
}

.post ol, .post ul {
  list-style: none;
  counter-reset: item;
}

.post ol li, .post ul li {
  position: relative;
  text-indent: 1em;
}

.post ol li::before {
  content: counter(item);
  counter-increment: item;
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  left: -1em;
  text-shadow: 1px 1px 2px rgba(2,2,2,0.5);
}

.post li {
  margin-bottom: 1.25em;
}

.post__footnote {
  font-size: 0.75em;
  font-style: italic;
}

@media only screen and (min-width: 640px) {
  .thumbnail {
    /* .main is 640px wide with 1em (16px) padding on sides, so 608px usable*/
    width: 13em;
    height: 10em;
    margin: 0.15em;
  }

  .blog__container > .thumbnail:first-of-type {
    /* styling here because on first load, first won't necessarily be active,
    and upon click, active will always be first */
    height: 8em;
    margin: 0.25em 0;
    width: 100%;
  }

  .thumbnail__snippet {
    margin: 1em 0;
  }

  .post {
    padding: 1em;
  }

  .blog__thumbContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .blog__thumbContainer:after {
    content: "";
    flex: auto;
    text-align: right;
  }
}
