/* Globals */

body {
  --dark-gray: #444;
  --gold: #DBAE53;
  --gold-gradient: linear-gradient(#FFEFD0, #DBAE53);
  --gold-gradient--light: linear-gradient(#FFEFD0, #FFD683);
  --orange: #FC4A1A;
  --orange-transparent: linear-gradient(rgba(255,239,208,0.5), rgba(255,214,131,0.7));
  --teal: #4ABDAC;
  --teal-dark: #0E9683;
  --teal-very-dark: #005E51;
  --white: #dee;
  --white-transparent: linear-gradient(rgba(205,225,225,0.9),rgba(205,225,225,0.9));
  --rounded: 0.2em;
  --transition-time: 0.5s;
  color: var(--dark-gray);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background: var(--white-transparent), url('../images/lucas-on-trike.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 640px) {
  body:after {
    background-position: 0 -100px;
    bottom: -100px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding: 0.5em 0.1em;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

/* Header & Nav */
/* Default -- for index.html on mobile */

.heading--homepage {
  font-size: 4em;
  margin: 0.1em auto 0 auto;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(2,2,2,0.5);
}

.heading--emphasis {
  background: var(--orange);
  color: var(--white);
  margin: 0.5em auto;
}

.heading__image {
  border-radius: 50%;
  float: right;
  margin: 1em;
  width: 15vw;
  max-width: 90px;
}

.subtitle {
  font-style: italic;
  margin-top: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 18em;
  width: 100%;
}

.nav__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav__list__item {
  text-align: center;
}

.nav__button {
  background: var(--gold-gradient--light);
  border: 0;
  border-radius: var(--rounded);
  font-size: 1.25em;
  font-weight: 700;
  line-height: 2em;
  margin: 0.5em auto;
  padding: 0.5em 2em;
}

.nav__button--home {
  width: 163px;
}

.nav__list__item:hover .nav__button {
  background: var(--gold-gradient);
  box-shadow: 0 0 1.5em var(--gold);
  color: #222;
  cursor: pointer;
}

/* Header & Nav in index on desktop */

@media only screen and (min-width: 640px) {
  .heading--homepage {
    margin-top: 0.75em;
  }

  .nav {
    top: 13em;
  }

  .nav__list__item {
    display: inline-block;
    margin: 0 1em;
    padding-right: 1.5em;
  }

  .nav__list__image {
    box-sizing: border-box;
    border-radius: var(--rounded);
    cursor: pointer;
    height: 163px;
    width: 163px;
  }

  .nav__list__image--about {
    background: url('../images/lucas-in-park-thumbnail.jpg') 0 0/cover;
  }

  .nav__list__item:hover .nav__list__image--about {
    box-shadow: 0 0 1.5em var(--gold);
  }

  .nav__list__image--projects {
    background: url('../images/code-image.jpg') 0 0/cover;
  }

  .nav__list__item:hover .nav__list__image--projects {
    box-shadow: 0 0 1.5em var(--gold);
  }

  .nav__list__image--blog {
    background: url('../images/book-image.jpg') 0 0/cover;
  }

  .nav__list__item:hover .nav__list__image--blog {
    box-shadow: 0 0 1.5em var(--gold);
  }
}

/* Header & Nav on sub-pages (mobile) */

.nav__header {
  background: var(--orange-transparent);
  border-bottom: 1px solid var(--gold);
  flex-direction: row;
  position: relative;
  top: 0;
}

.nav__toggle {
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  transform: rotate(90deg);
  transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
}

.nav__toggle:hover {
  cursor: pointer;
}

.nav__toggle--expand {
  transform: rotate(-90deg);
  transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
}

.nav__list--collapse {
  list-style: none;
  margin: 0;
  height: 2.75em;
  overflow-y: hidden;
  padding: 0 1em;
  transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
}

.nav__list--expand {
  height: 13em;
  transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
}

.nav__list--collapse .nav__list__item {
  text-align: left;
}

.nav__list--collapse .nav__button {
  background: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.nav__list--collapse .nav__list__item:hover .nav__button {
  background: none;
  box-shadow: none;
  color: #222;
  text-shadow: 0 0 1em white;
}

/* Header & Nav on sub-pages (desktop) */

@media only screen and (min-width: 640px) {
  /* No changes needed here! Made adjustments in main.js */
}

/* Main (for simple pages on mobile) */

.main {
  /*background: linear-gradient(rgba(14,150,131,0.5),rgba(14,150,131,0.5));*/
  background: var(--teal-dark);
  margin: auto;
  padding: 1em;
  color: var(--white);
}

.main--centered {
  text-align: center;
}

.main__article {
  line-height: 1.5em;
}

.article__figure {
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0 5%;
  width: 90%;
  max-width: 326px;
}

.article__figure--wide {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.figure__image {
  border-radius: var(--rounded);
  display: block;
  margin: auto;
  width: 90%;
}

.figure__image--wide {
  border-radius: var(--rounded);
  display: block;
  margin: auto;
  width: 100%;
}

.figure__caption {
  display: block;
  font-size: 0.75em;
  font-style: italic;
  line-height: 1.5em;
  margin: auto;
  width: 90%;
}

.figure__caption--wide {
  display: block;
  font-size: 0.75em;
  font-style: italic;
  line-height: 1.5em;
  margin: auto;
  text-align: center;
  width: 100%;
}

/* Main (for simple pages on desktop) */

@media only screen and (min-width: 640px) {
  .main {
    border-radius: var(--rounded);
    margin-top: 2em;
    max-width: 640px;
    text-align: justify;
  }

  .main__article p {
    margin-bottom: 2em;
  }

  .article__figure--right {
    float: right;
    margin: 0 0 1em 1em;
    padding: 0;
    width: 40%;
  }

}

/* Footer */

.footer {
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 1em auto 0.5em auto;
  max-width: 672px;
}

.footer--to-bottom {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.footer__contact {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
}

.footer__profiles {
  display: inline-block;
  float: right;
  margin-right: 10px;
  text-align: right;
}

@media only screen and (min-width: 640px) {
  .footer__contact, .footer__profiles {
    margin: 0;
  }
}
