.portfolio__container {
  box-sizing: border-box;
  width: 100%;
}

.sorter {
  /* Container for technology selector */
}

.sorter__button {
  /* Button to toggle visibility of tech list */
  background: var(--gold-gradient--light);
  border: 0;
  border-radius: var(--rounded);
  font-size: 0.75em;
  font-weight: 700;
  margin: 0;
  padding: 0.25em 1em;
}

.sorter__button:hover {
  cursor: pointer;
}

.sorter__list {
  /* ul of technologies */
  background: var(--teal-very-dark);
  border-radius: var(--rounded);
  color: var(--white);
  display: block;
  line-height: 1.75em;
  list-style: none;
  margin-top: 0.25em;
  padding: 1em 2em;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.sorter__list__item:hover {
  /* each li, listing one technology */
  cursor: pointer;
  font-weight: 700;
}

.portfolio {
  /* The part that houses the actual projects! */
  color: var(--teal-very-dark);
  margin-top: 1em;
  text-align: justify;
}

.heading--emphasis {
  border-radius: var(--rounded);
  padding: 0.5em 1em;
}

.portfolio__item {
  /* container for each individual featured project */
  background: var(--orange-transparent);
  border-radius: var(--rounded);
  line-height: 1.25em;
  margin-top: 1.5em;
  padding-bottom: 2em;
  position: relative; /* For positioning of phone screenshot image */
}

.portfolio__item:first-child {
  margin-top: 0;
}

.portfolio__item-description {
  margin: 1em 0.5em;
}

.portfolio__images {
  /* Container for mouseover event */
  position: relative;
}

.portfolio__image {
  /* All portfolio images */
  max-width: 100%;
}

.portfolio__image--landscape {
  /* Portfolio images in landscape -- usually screen cap of project on monitor */
  margin: 0 5%;
  width: 90%;
  max-width: 500px;
}

.portfolio__image--portrait {
  /* Portfolio images in portrait -- usually screen cap of project on phone */
  bottom: -1em;
  position: absolute;
  right: 3vw;
  width: 20vw;
  max-width: 150px;
}

.portfolio__details {
  /* Container for tech list and links, which will be hidden until user mouses over */
  background: var(--teal-dark);
  border-radius: var(--rounded);
  box-shadow: inset 0 0 10px #000000;
  box-sizing: border-box;
  color: var(--white);
  list-style: none;
  margin: 0 3%;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 94%;
  z-index: 1;
}

.portfolio__links {
  /* Links to repo and live demo of project */
  font-weight: 700;
  line-height: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.portfolio__links li {
    display: block;
}

.portfolio__tech-list {
  /* List of technologies used in a project */
  line-height: 1.1em;
  list-style: none;
  font-size: 0.75em;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}

.portfolio__tech-list__heading {
  /* First item in .portfolio--tech-list, acting as heading for the list */
  font-weight: 700;
}

.portfolio__tech-list__item {
  /* Each tech in the tech-list */
  display: inline-block;
  margin-right: 1em;
}

.portfolio__tech-list__item:last-child {
  margin-right: 0;
}

/* Style overrides for computers/landscape tablets */

@media only screen and (min-width: 640px) {
  .heading__image {
    margin-top: 0;
  }

  .portfolio__details {
    margin: 0 20%;
    width: 60%;
  }
}
